!!!
%html
  / Head information
  = partial 'layouts/partials/head'

  / Main content
  %body
    %section.gradient-135-brand
      .container
        = partial 'layouts/partials/header'
    %main
      .container
        = yield
    = partial 'layouts/partials/footer'
