%footer.OSFooter
  .container.padding-h-big.padding-v-bigger
    .row.collapse-b-phone-land.align-center
      .col-6
        %h4.inverse.margin-reset
        %p.type-color-iron.type-small.margin-reset
          © 2018 Factorlytics
