%header.OSHeader.padding-v-big
  .row.collapse-b-tablet.align-center
    .col-4
      .OSHeader__Logo
        / = link_to '/index.html' do
        /   = image_tag 'bitnami-white.svg', alt: 'Bitnami Logo'
    .col-8
      %nav.text-r
        = link_to 'Home', '/index.html', class: 'margin-h-normal'
