/**
 * Mappy breakpoint library
 */
/**
 * Variables
 */
/*
---
name: Base sizing units
category: Foundations/Variables
tag: variables
---

These values defines the spacing and font size of all the framework. **Every property or mixin that
involves sizes is affected by these values**. That's the reason why most of the elements of
the foundations uses relative units like `em` and `rem`.

These base sizing units are:

* `base-type-zoom`: represents the base zoom of the page. This value is added on the `html` selector
and it allow us to grow the site proportionally. For most of the browsers, 100% font-size is equal
to 16px. Browsers that have a different value for 100% are not an issue because the site grows
correctly. This framework uses this property to decrease or increase the spacing of the site
based on media queries.
* `base-type-size`: defines the base font size of the body text. The current value refers to
the `base-type-zoom`: 100% (16px) -> 1em -> 16px body text. We use a relative units to be able to
change the base font size using `base-type-zoom`. It also allow browsers to define their own
font size based on user preferences.
* `scale`: this is the ratio of decrease or increase of the spacing unit. Combining the
`base-type-size` and the `scale`, the framework defines proportional sizes for spacing. You
can check the current proportion on [TypeScale](http://type-scale.com/?size=16&scale=1.333&text=Bitnami%20Rocks!&webfont=Source+Sans+Pro&font-family=%27Source%20Sans%20Pro%27,%20sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333).
* `size-unit`: this is the base size unit for font sizes and spacing. We use this unit for spacing
and font-sizes.

```scss
// Sizing values
$base-type-zoom: 100%;
$base-type-size: 1em; // 16px
// Major Third
$scale: 1.250;

// Basic size unit
$size-unit: $base-type-size * $scale;
$su: $size-unit;
```
*/
/*
---
name: Breakpoints
category: Foundations/Variables
tag: variables
---
For managing breakpoints, we're going to use https://github.com/zellwk/mappy-breakpoints. It's a really useful library to work with Breakpoints. Also, this library uses `em` units internally and based on this [research]( https://zellwk.com/blog/media-query-units/) it's the best solution for breakpoints.

```scss
$breakpoints: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 900px,
  xl: 1100px,
  uxl: 1300px
);

// If only one value is provided, mappy-bp will produce a min-width query.
// If a two values are provided, mappy-bp will produce a min-width and max-width query.
// If a max-width or max string is provided, mappy-bp will produce a max-width query.

$mappy-queries: (
  phone-portrait: mappy-bp(max-width xs),
  phone: mappy-bp(xs sm),
  phone-land: mappy-bp(sm md),
  tablet: mappy-bp(md lg),
  desktop: mappy-bp(lg xl),
  wide: mappy-bp(xl uxl),
  ultrawide: mappy-bp(uxl)
);
```
*/
/*
---
name: Colors
category: Foundations/Variables
tag: variables
---
Base colors of the Bitnami styleguide.

<div class="container">

  <h5>Base</h5>
  <div class="colorBoxes">
    <div class="colorBox colorBox-reverse" style="background-color: #00437B;">
      <div class="colorBox__title padding-h-normal">
        <h5>Brand</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #00437B
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(0, 67, 123)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(207, 100%, 24%)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-reverse" style="background-color: #1C2B39;">
      <div class="colorBox__title padding-h-normal">
        <h5>Primary</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #1C2B39
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(28, 43, 57)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(209, 34%, 17%)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-reverse" style="background-color: #1598CB;">
      <div class="colorBox__title padding-h-normal">
        <h5>Secondary</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #1598CB
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(21, 152, 203)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(197, 81%, 44%)
        </div>
      </div>
    </div>
  </div>

  <h5>Accent</h5>
  <div class="colorBoxes">
    <div class="colorBox colorBox-reverse" style="background-color: #008145;">
      <div class="colorBox__title padding-h-normal">
        <h5>Accent</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #008145
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(0, 129, 69)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(152, 100%, 25%)
        </div>
      </div>
    </div>
    <div class="colorBox" style="background-color: #82C341;">
      <div class="colorBox__title padding-h-normal">
        <h5>Light accent</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #82C341
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(130, 195, 65)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(90, 52%, 51%)
        </div>
      </div>
    </div>
  </div>

  <h5>Action</h5>
  <div class="colorBoxes">
    <div class="colorBox" style="background-color: #F58220;">
      <div class="colorBox__title padding-h-normal">
        <h5>Action</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #F58220
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(245, 130, 32)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(28, 91%, 54%)
        </div>
      </div>
    </div>
    <div class="colorBox" style="background-color: #FDBA12;">
      <div class="colorBox__title padding-h-normal">
        <h5>Light action</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #FDBA12
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(253, 186, 18)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(43, 98%, 53%)
        </div>
      </div>
    </div>
  </div>

  <h5>Other backgrounds and text colors</h5>
  <div class="colorBoxes">
    <div class="colorBox" style="background-color: #fff;">
      <div class="colorBox__title padding-h-normal">
        <h5>Base</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #ffffff
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(255, 255, 255)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(0, 0%, 100%)
        </div>
      </div>
    </div>
    <div class="colorBox" style="background-color: #ffffff;">
      <div class="colorBox__title padding-h-normal">
        <h5>White</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #ffffff
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(255, 255, 255)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(0, 0%, 100%)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-reverse" style="background-color: #1C2B39;">
      <div class="colorBox__title padding-h-normal">
        <h5>Text</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #1C2B39
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(28, 43, 57)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(209, 34%, 17%)
        </div>
      </div>
    </div>
    <div class="colorBox" style="background-color: #f1f1f1;">
      <div class="colorBox__title padding-h-normal">
        <h5>Light</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #f1f1f1
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(241, 241, 241)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(0, 0%, 95%)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-reverse" style="background-color: #1C2B39;">
      <div class="colorBox__title padding-h-normal">
        <h5>Dark</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #1C2B39
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(28, 43, 57)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(209, 34%, 17%)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-reverse" style="background-color: #5F6369;">
      <div class="colorBox__title padding-h-normal">
        <h5>Gray</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #5F6369
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(95, 99, 105)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(216, 5%, 39%)
        </div>
      </div>
    </div>
    <div class="colorBox" style="background-color: #C7C9C8;">
      <div class="colorBox__title padding-h-normal">
        <h5>Light gray</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #C7C9C8
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(199, 201, 200)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(150, 2%, 78%)
        </div>
      </div>
    </div>
  </div>

  <h5>Additional colors</h5>
  <div class="colorBoxes">
    <div class="colorBox colorBox-reverse" style="background-color: #de0606;">
      <div class="colorBox__title padding-h-normal">
        <h5>Danger</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #de0606
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(222, 6, 6)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(0, 95%, 45%)
        </div>
      </div>
    </div>
    <div class="colorBox" style="background-color: #fff23f;">
      <div class="colorBox__title padding-h-normal">
        <h5>Highlight</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex</span> #fff23
        </div>
        <div class="colorBox__values__value">
          <span>RGB</span> rgb(255, 242, 63)
        </div>
        <div class="colorBox__values__value">
          <span>HSL</span> hsl(56, 100%, 62%)
        </div>
      </div>
    </div>
  </div>
</div>

```scss
$colors: (
  'brand': #00437B,
  'primary': #1C2B39,
  'secondary': #1598CB,
  'accent': #008145,
  'accent-light': #82C341,
  'light': #f1f1f1,
  'white': #ffffff,
  'text': #1C2B39,
  'action': #F58220,
  'action-light': #FDBA12,
  'gray': #5F6369,
  'gray-light': #C7C9C8,
  'base': #fff,
  'highlight': #fff23f,
  'danger': #de0606
);

// Interval to get tints and shades
$color-interval: 10%;
```
*/
/*
---
name: Gradients
category: Foundations/Variables
tag: variables
---
Base gradients of the Bitnami styleguide.

<div class="container margin-b-bigger">
  <h5>Base</h5>
  <div class="colorBoxes">
    <div class="colorBox colorBox-50 colorBox-reverse gradient-45-brand">
      <div class="colorBox__title padding-h-normal">
        <h5>Brand</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div>
          <div class="colorBox__values__value">
            <span>Hex (from)</span> #00437B (Brand)
          </div>
        </div>
        <div class="colorBox__values__value">
          <span>Hex (to)</span> #1598CB (Secondary)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-50 colorBox-reverse gradient-45-accent">
      <div class="colorBox__title padding-h-normal">
        <h5>Accent</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex (from)</span> #008145 (Accent)
        </div>
        <div class="colorBox__values__value">
          <span>Hex (to)</span> #82C341 (Light accent)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-50 gradient-45-action">
      <div class="colorBox__title padding-h-normal">
        <h5>Action</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex (from)</span> #F58220 (Action)
        </div>
        <div class="colorBox__values__value">
          <span>Hex (to)</span> #FDBA12 (Light action)
        </div>
      </div>
    </div>
    <div class="colorBox colorBox-50 gradient-45-light">
      <div class="colorBox__title padding-h-normal">
        <h5>Light</h5>
      </div>
      <div class="colorBox__values padding-h-normal padding-v-small">
        <div class="colorBox__values__value">
          <span>Hex (from)</span> #f1f1f1 (Light)
        </div>
        <div class="colorBox__values__value">
          <span>Hex (to)</span> #f7f7f7 (50 Light)
        </div>
      </div>
    </div>
  </div>
</div>

```scss
$gradients: (
  'brand': #00437B #1598CB,
  'accent': #008145 #82C341,
  'action': #F58220 #FDBA12,
  'light': #f1f1f1 #f7f7f7, // The last color is the result of `color-level('light', 50)`
);
```
*/
/*
---
name: Grid
category: Foundations/Variables
tag: variables
---
Defines the basic values for our Grid system

```scss
// Basic values of our grid system
$grid-width: 100%;
$grid-columns: 12;
$grid-gutter: su();
```
*/
/*
---
name: Names
category: Foundations/Variables
tag: variables
---
Aliases for colors and scales.

```scss
$scale-names: (
  'reset': -3,
  'tiny': -2,
  'small': -1,
  'normal': 0,
  'big': 1,
  'bigger': 2,
  'enormous': 3,
  'giant': 4,
  'huge': 5
);

$color-names: (
  'bitnami': 'brand',
  'light-blue': 'primary',
  'dark-blue': 'secondary',
  'accent': 'accent',
  'accent-light': 'accent-light',
  'iron': 'light',
  'white': 'white',
  'dark': 'text',
  'text': 'text',
  'action': 'action',
  'action-light': 'action-light',
  'gray': 'gray',
  'gray-light': 'gray-light',
  'white': 'base',
  'highlight': 'highlight'
);

```
*/
/*
---
name: Spacing
category: Foundations/Variables
tag: variables
---
Standard spacing values.

```scss
$spacing-sizes: (
  -3: 0,
  -2: $su / 8,
  -1: $su / 4,
  0: $su / 2,
  1: $su,
  2: 1.5 * $su,
  3: 2 * $su,
  4: 3 * $su,
  5: 5 * $su
);
```
*/
/*
---
name: Typography
category: Foundations/Variables
tag: variables
---
Defines all typography related variables for the project. Currently, the new selected font family
is [Interstate](https://store.typenetwork.com/foundry/fontbureau/fonts/interstate/regular).
This typography must be imported before the bitnami-ui require statement.

Interstate is a paid font family, so we need to use it through
[Typekit](https://typekit.com/fonts/interstate). If you don't want to use Interstate due
to this restrictment, you can use the fallback font families:
[Fira Sans](https://fonts.google.com/specimen/Fira+Sans) and
[Hind](https://fonts.google.com/specimen/Hind). This is an free font family and can be lodaded
from Google Fonts:

```
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Hind:300,400,700" rel="stylesheet">
```

If any of these font families are available, the UI fallbacks to OS typographies.

```scss
// Font families
$type-os-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$type-headings: 'Interstate', 'Fira Sans', $type-os-fallback;
$type-body: 'Interstate', 'Hind', $type-os-fallback;
$type-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// Fix the line-heights
$line-heights: (
  -1: $size-unit,
  0: $size-unit,
  1: $size-unit * 1.5,
  2: $size-unit * 2,
  3: $size-unit * 3,
);
```
*/
/*
---
name: Z-index
category: Foundations/Variables
tag: variables
---
Instead of specifing custom Z-indexes for the different elements, these variables define five basic z-index values to position the layers of the interface.

```scss
$z-index: (
  'bottom': -1,
  'base': 0,
  'above': 10,
  'above-mean': 20,
  'top': 99
);
```
*/
/* Set all the sprites of the components
 *
 * Example:
 *
 * $sprites: (
 *   'name-of-sprite': (
 *     'filename': 'filename-without-extension',
 *     'extension': 'png',
 *     'positions': (
 *       0: 'name-of-element-0',
 *       1: 'name-of-element-1',
 *       ...
 *     )
 *   )
 * );
 */
/**
 * Helper functions to work with the Bitnami UI.
 */
/*
---
name: color(name)
category: Foundations/Mixins
tag: function
---
Get a color from the brand guide

```scss
.test {
  color: color('bitnami');
  background-color: color('iron');
}
```
*/
/*
---
name: color-level(name, level)
category: Foundations/Mixins
tag: function
---
Get a tint or shade of a base color. The `level` variable should be a number between 100 to 1000
in steps of one hundred. The base color is located in 500.

```scss
.test {
  color: color-level('bitnami', 200);
  background-color: color('iron', 700);
}
```
*/
/**
 * Calculate the color level based on the given color and the level.
 *
 * NOTE: This is an internal method.
 */
/**
 * Get the gradient pair for the given name
 *
 * NOTE: This is an internal method.
 */
/*
---
name: gradient(name, directionOrDegrees, firstPosition, lastPosition)
category: Foundations/Mixins
tag: function
---
Generate a proper gradient.

```scss
.test {
  background: gradient('brand', 45deg);
}
```
*/
/*
---
name: button-gradient(name)
category: Foundations/Mixins
tag: function
---
Return the gradient for a button with the cut corner already added.
Inspired by [this pen](https://codepen.io/aaahollister/pen/wKwxNY). This is the simplest
approach I've found.

```scss
button-gradient('brand');
```
*/
/*
---
name: button-size(name-of-scale)
category: Foundations/Mixins
tag: function
---
Mixin to generate a class for buttons. This class will modify the size of the buttons.

```scss
@include('small');
```
*/
/**
 * Grid mixins
 *
 * NOTE: This is an internal function. It shouldn't be documented
 */
/**
 * Generate a collapse property for a given prefix
 */
/**
 * Generate a collapse property for a given prefix
 */
/**
 * Power operator for SASS!
 *
 * NOTE: This is an internal function. It shouldn't be documented
 */
/**
 * Convert em to px
 */
/*
---
name: spacing(name)
category: Foundations/Mixins
tag: function
---

Get a spacing value based on the `size unity`. This method will throw an exception if the name
of the size is not valid.

```scss
.test {
  margin: spacing('tiny');
}
.test2 {
  padding-bottom: spacing('huge');
}
```
*/
/*
---
name: margin(name)
category: Foundations/Mixins
tag: function
---

**DEPRECATED:** see <a href="/category/Foundations/Mixins/#spacing(name)">spacing(name)</a>

Get a margin value based on the `size unity`. This method will throw an exception if the name
of the size is not valid.

```scss
.test {
  margin: margin('tiny');
}
.test2 {
  margin-bottom: margin('huge');
}
```
*/
/*
---
name: padding(name)
category: Foundations/Mixins
tag: function
---

**DEPRECATED:** see <a href="/category/Foundations/Mixins/#spacing(name)">spacing(name)</a>

Get a padding value based on the `size unity`. This method will throw an exception if the name
of the size is not valid.

```scss
.test {
  padding: padding('tiny');
}
.test2 {
  padding-top: padding('huge');
}
```
*/
/**
 * Using $su allow us to set the correct vertical rhythm of the page
 */
/*
---
name: su(multiplier)
category: Foundations/Mixins
tag: function
---
Return `multiplier * $su`. This method allows us to set the correct vertical rhythm of the page.

```scss
.test {
  height: su(10);
}
```
*/
/**
 * Mixins that generates spacing class helpers.
 *
 * NOTE: These are an internal mixins. They shouldn't be documented
 */
/*
---
name: baseSizing(zoom, size, scale, lineHeight)
category: Foundations/Themes
tag: function
---

Set the values for the base sizing units. These values defines the spacing and font size of all the framework.
Every property or mixin that involves sizes is affected by these values.
You can reuse the [default values](/category/Foundations/Variables/#Base%20sizing%20units).

```scss
@include baseSizing(
  100%,
  1.15em,
  $scale,
  1.45
);
```
*/
/*
---
name: colorTheme(colors, colorInterval)
category: Foundations/Themes
tag: function
---

Update the color theme of HEx. It receives a map that will be merged with the [default one](/category/Foundations/Variables/#Colors).

```scss
@include colorTheme(
  (
    'brand': green,
    'text': #000000
  ),
  8%
);
```
*/
/*
---
name: gradientTheme(gradients)
category: Foundations/Themes
tag: function
---

Update the gradient theme of HEx. It receives a map that will be merged with the [default one](/category/Foundations/Variables/#Gradients).

```scss
@include gradientTheme(
  (
    'accent': #008145 #82C341,
    'action': green blue,
  )
);
```
*/
/*
---
name: fontFamilies(body, headings, code)
category: Foundations/Themes
tag: function
---

Update the font families for HEx. The default ones are [Interstate, Fira Sans and Hind](/category/Foundations/Variables/#Typography).

```scss
$body: Arial, Verdana;

@include fontFamilies(
  $body,
  Arial,
  Consolas
);
```
*/
/*
---
name: gridConfig(width, columns, gutter)
category: Foundations/Themes
tag: function
---

Set the base values to generate the grid classes and helpers. We recommend to use 12 columns always
because the `collapse-*-on-*` helpers collapse the rows in blocks of 3, 2 and 1 elements.
You can reuse the [default values](/category/Foundations/Variables/#Grid).

```scss
@include gridConfig(
  1500px,
  $grid-columns,
  2em
);
```
*/
/*
---
name: borderRadiusConfig(borderRadius)
category: Foundations/Themes
tag: function
---

Set the border radius for some elements like tags and avatars.

```scss
@include borderRadiusConfig(5px);
```
*/
/*
---
name: type-scale(name)
category: Foundations/Mixins
tag: function
---
Get a font-size based on the standard values. You can check
[Type scale](http://type-scale.com/?size=16&scale=1.333&text=Bitnami%20Rocks!&webfont=Source%2BSans%2BPro&font-family=%27Source%20Sans%20Pro%27%2C%20sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333)
to check the current scale and size.

```scss
.test {
  font-size: type-scale('huge');
}
```
*/
/*
---
name: line-height(name)
category: Foundations/Mixins
tag: function
---
Get a line-height based on the standard values.

**NOTE**: `reset`, `tiny`, `giant` and `huge` are not available.

```scss
.test {
  line-height: line-height('big');
}
```
*/
/**
 * Set the color for anchors in the type-color-reverse
 *
 * NOTE: This is an internal mixin. It shouldn't be documented
 */
/**
 * Remove the unit of a length
 *
 * NOTE: This is an internal function. It shouldn't be documented
 */
/*
---
name: clearfix()
category: Foundations/Mixins
tag: function
---
Add clearfix code to the current selector. Clearfix is useful to prevent bad positioning of
floated elements.

```scss
.test {
  @include clearfix();
}
```
*/
/*
---
name: z-index(name)
category: Foundations/Mixins
tag: function
---
Get the z-index from the available layer positions:

```scss
.base {
  z-index: z-index('base');
}
.above {
  z-index: z-index('above');
}
```
*/
/*
---
name: generate-sprite()
category: Components/Mixins
tag: function
---
Generate different helper classes for setting the background-url based on an sprite.

```scss
@include generate-sprite('prefix', 'filename.png', hash-of-names-and-positions);
```
*/
@media (max-width: 47.9375em) {
  .OSHeader,
  .OSHeader nav {
    text-align: center; } }

@media (max-width: 29.9375em) {
  .OSFooter [class^="col"] {
    text-align: center; } }

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

@media (max-width: 29.9375em) {
  html {
    font-size: 90%; } }
main {
  flex: 1; }
